.ck.ck-editor__main > .ck-editor__editable {
  max-height: 400px;
}

.slick-slide > div {
  padding: 0px 8px !important;
}

.slick-arrow.slick-next {
  right: 0 !important;
  z-index: 5;
}

.slick-arrow.slick-prev {
  left: 0 !important;
  z-index: 5;
}

.slick-prev:before,
.slick-next:before {
  position: absolute;
  top: 0;
  font-size: 30px;
}
.slick-prev:before {
  left: 0;
  color: rgb(253, 200, 180);
}

.slick-next:before {
  right: 0;
  color: rgb(253, 200, 180);
}

#scroll-top {
  position: fixed;
  top: 50%;
  right: 8px;
  transform: translateY(-50%);
  border-radius: 50%;
  height: 52px;
  width: 52px;
  background:rgb(248, 205, 189);
  color: rgb(111, 179, 184);
  border: 2px solid rgb(111, 179, 184);
}
